!!!
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%html
  %head
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')

    - if content_for?(:title)
      %title
        = yield(:title)
        &bull; The Guild
    - else
      %title The Guild

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = auto_discovery_link_tag :atom, feed_url
    = csrf_meta_tags

    = javascript_include_tag "vendor/custom.modernizr"

  %body
    #page
      %header{ role: 'banner' }
        = link_to image_tag('theguild.png'), root_url, class: 'logo'
        %h1
          The Guild of Software Artisans&rsquo;
          %small Masterclass in Development and Geekery

      - if flash[:notice]
        .alert-box.success= flash[:notice]
      - if flash[:alert]
        .alert-box.alert= flash[:alert]

      .main
        %section{ role: 'main' }
          = yield

        %aside{ role: 'complementary' }
          = render 'subscription'
          = render 'account'

      = render 'footer'

    = javascript_include_tag "application", "data-turbolinks-track" => true
